@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic', sans-serif;
}

.bg_image {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bg.png');
  background-size: cover;
  background-position: center;
}

/* .dam {
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 0;
} */


.dam img {
  margin-left: 60px;
  width: auto;
  height: 670px;
  /* 가로에 맞춰 세로 크기 자동 조절 */
}

.name {
  background: linear-gradient(to right, #6ABEFE, #8EC8FF);
  border-radius: 100px;
  padding: 14px 63px;

  /* 위치 조정 */
  position: absolute;
  bottom: 225px;
  /* 텍스트박스 아래로부터 188px 위로 이동 */
  left: 50px;
  /* 텍스트박스 왼쪽으로부터 34px 위치 */

  /* 그림자 효과 */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01);

  /* z-index를 높여서 텍스트 박스 위에 겹쳐 보이도록 함 */
  z-index: 10;
}

.name h1 {
  /* 텍스트 스타일 */
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}

.chatbox {
  display: flex;
  /* 자식 요소들을 유연하게 정렬합니다 */
  align-items: flex-end;
  /* 자식 요소를 아래쪽에 정렬합니다 */
  gap: 20px;
  /* 텍스트 박스와 버튼 사이의 간격을 설정합니다 */
}

.textbox {
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);

  /* 텍스트 박스 높이 고정 */
  height: 216px;
  text-align: center;
  /* 텍스트 가운데 정렬 추가 */

  padding: 20px;
  width: calc(100vw - 184px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  /* 텍스트를 세로/가로 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 세로 가운데 정렬 */
  align-items: center;
  /* 가로 가운데 정렬 */
}

.textbox p {
  font-size: 42px;
  line-height: 148%
}

.nextbtn {
  position: absolute;
  bottom: 34px;
  right: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.skipbtn {
  position: fixed;
  bottom: 336px;
  right: 92px;
  padding: 10px 32px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 서서히 나타나는 애니메이션 적용 */
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;
  animation-delay: 1s; 
}

.skipbtn p {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

/* @keyframes 애니메이션 정의 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 버튼이 서서히 사라지도록 하는 애니메이션 정의 */
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* 버튼에 적용될 애니메이션 클래스 */
.nextbtn.fade-out, .skipbtn.fade-out {
    animation: fade-out 0.2s forwards;
}


.page-fade {
  position: fixed;
  inset: 0;                 /* top:0; right:0; bottom:0; left:0; 와 같음 */
  background: rgb(0, 0, 0);        /* 흰색 배경 (검게 하고 싶으면 black) */
  opacity: 0;               /* 처음엔 안 보임 */
  pointer-events: none;     /* 클릭 막지 않음 */
  transition: opacity 1s ease-in-out;  /* 스르륵 효과 */
  z-index: 9999;
}
.page-fade.active {
  opacity: 1;               /* 활성화되면 화면을 덮음 */
  pointer-events: auto;
}

 #character-video {
    position: absolute;
    top: 100px;
    right: 700px;
    z-index: 0;
    opacity: 1;
    pointer-events: none;
    background: transparent;
    /* border: orangered 3px solid; */
    width: 440px;
    height: 680px;
    transition: opacity 0.3s ease;
     transform: scaleX(-1);
 }

 img.flip-horizontal {
  transform: scaleX(-1);
}
